* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(34, 14, 105), rgba(10, 213, 240));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    background-color: white;
    min-height: 400px;
    width: 540px;
    border-radius: 12px;
    padding: 20px;
}
h1{
    text-align: center;
}
input[type="text"]{
    margin-top: 3rem;
    margin-bottom: 10px;
    width: 80%;
    padding: .8rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
button{
    padding: 10px 20px;
    background-color: rgb(118, 118, 211);
    color: white;
    border: none;
    border-radius: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete_btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
li .edit_btn{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    left: 150px;
}